<h1>Alex & Dans Italian Wedding</h1>


<% for event in @wedding %>
    <p><a href="/wedding/<%= event[:id] %>"><%= event[:title] %></a></p>
<% end %>

    <div class="container mt-5">
      <h1>View Hotel Locations</h1>
      <form action="/wedding/map/view">
      <select id="cars" name="cars">
    <option value="Via dei Condotti, 85, 00187 Roma RM, Italy">The Inn at the Spanish Steps</option>
    <option value="Piazza della Trinità dei Monti, 6, 00187 Roma RM, Italy">Hotel Hassler Roma</option>
    <option value="Via Vittorio Veneto, 191, 00187 Roma RM, Italy">Rome Marriott Grand Hotel Flora</option>
  </select>
        <input type="submit">
        
      </form>
    </div>